%p
  %b Product:
  = @product_vendor_relationship.product.try :name
%p
  %b Product description:
  = @product_vendor_relationship.product.try :description
%p
  %b Billing date:
  = @product_vendor_relationship.billing_date
%p
  %b Billing cycle quantity:
  = @product_vendor_relationship.billing_cycle_quantity
%p
  %b Billing cycle unit:
  = @product_vendor_relationship.billing_cycle_unit
%p
  %b Price paid
  = number_to_currency @product_vendor_relationship.price_paid

= link_to vendor_relationship_path(@product_vendor_relationship.vendor_relationship), :class => 'btn primary' do 
  <i class="icon-arrow-left icon-black"></i> Back
