.row.margin-top-40
  .span4 &nbsp;
  .span4.well
    %h2 Login to your account!
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal'}) do |f|
      = f.label :email
      = f.email_field :email
      = f.label :password
      = f.password_field :password
      %label.checkbox
        = f.check_box :remember_me
        Remember Me
      %div= f.submit "Sign in", class: 'btn btn-primary'
    = render "links"
  .span4 &nbsp;
