%h1 My vendors 

%table.table.table-bordered.table-striped
  %tr
    %th Company
    %th Contact Name
    %th Contact Email
    %th Actions

  - @vendor_relationships.each do |vendor_relationship|
    %tr
      %td= vendor_relationship.vendor.company_name
      %td= vendor_relationship.vendor.full_name
      %td= vendor_relationship.vendor.email
      %td
        = link_to 'View', vendor_relationship_path(vendor_relationship), class: 'btn btn-info btn-mini'
        = link_to 'Destroy', vendor_relationship_path(vendor_relationship), confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger btn-mini'
      /%td= link_to 'Edit', edit_product_path(product), class: 'btn btn-mini'
%br

= link_to new_vendor_path, :class => 'btn primary' do 
  <i class="icon-plus icon-black"></i> New Vendor

= link_to vendor_request_user_path(current_user), :class => 'btn primary' do 
  <i class="icon-plus icon-black"></i> Request Vendor

