%p
  %b Vendor:
  = @vendor_relationship.vendor.company_name
%p
  %b Contact(s):
  = "#{@vendor_relationship.vendor.full_name} - #{@vendor_relationship.vendor.email}"
%p
  %b Notes:
  = @vendor_relationship.note


%h3 Products 
%table.table.table-bordered.table-striped
  %tr
    %th Name
    %th Description
    %th Retail Price
    %th Paid Price
    %th
    /%th

  - @vendor_relationship.product_vendor_relationships.each do |product_vendor_relationship|
    %tr
      %td= product_vendor_relationship.product.name
      %td= truncate product_vendor_relationship.product.description
      %td= number_to_currency product_vendor_relationship.product.retail_price
      %td= number_to_currency product_vendor_relationship.price_paid
      %td
        = link_to 'View', vendor_relationship_product_vendor_relationship_path(@vendor_relationship, product_vendor_relationship), class: 'btn btn-info btn-mini'
        = link_to 'Destroy', vendor_relationship_product_vendor_relationship_path(@vendor_relationship, product_vendor_relationship), confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger btn-mini'
        = link_to 'Edit', '#', class: 'btn btn-mini'
%br

= link_to vendor_relationships_path, :class => 'btn primary' do 
  <i class="icon-arrow-left icon-black"></i> Back
