= form_for @product do |f|
  = f.label :name
  = f.text_field :name
  = f.label :description
  = f.text_area :description
  = f.label :retail_price
  = f.text_field :retail_price
  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'
