= form_for @product do |f|
  .modal{id: id, style: 'display:none' }
    .modal-header
      %a.close{ data: { dismiss: "modal" } } ×
      %h3 New Product
    .modal-body
      -if @product.errors.any?
        #error_explanation
          %h2= "#{pluralize(@product.errors.count, "error")} prohibited this customer from being saved:"
          %ul
            - @product.errors.full_messages.each do |msg|
              %li= msg
    = f.label :name
    = f.text_field :name
    = f.label :description
    = f.text_area :description
    = f.label :retail_price
    = f.text_field :retail_price
  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'

